</div>
<script src="/lib/jquery-3.4.1.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script>
    $('#preview_spotUpload').hide()
    $("#imgInp").change(function () {
        //when file change> do something
        $('#preview_spotUpload').show()
        readURL(this);//this is <input id="imgInp">
        console.log("pic show")
    })

    function readURL(input) {
        if (input.files && input.files[0]) {
            console.log("pic select");
            var reader = new FileReader()
            reader.onload = function(e){
                $('#preview_spotUpload').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
    }

    // $('#targetphoto').hide()
    // $('#postphoto').onclick(function(){
    //     $('#targetphoto').hide()
    // })

</script>